.page-header
  h1 
    | About 
    small this little project from Thomas and Fränk

p
  | This is a Betting System implemented in Node.js + Express + MySQL + Angularjs + AMQP + RabbitMQ. We hope you have fun while betting.
