.page-header
  h1 
    | Games 
    small Add a new game

form.form-horizontal.pagination-centered(ng-submit="submitGame()")
  .span4
    .control-group
      label.control-label(for='inputTitle') Spiel
      .controls
        input#inputTitle(type='text', placeholder='Spiel', ng-model='form.title', name='title', required)
    .control-group
      label.control-label(for='inputDescription') Beschreibung
      .controls
        textarea#inputDescription(type='text', placeholder='Beschreibung', ng-model='form.description', rows='6', required)
  
  .span4.offset1
    .control-group
      label.control-label(for='inputQuoteA') Quote A
      .controls
        input#inputQuoteA(type='number', placeholder='1.0', ng-model='form.quoteA', name='quoteA', required)
    .control-group
      label.control-label(for='inputQuoteB') Quote B
      .controls
        input#inputQuoteB(type='number', placeholder='1.0', ng-model='form.quoteB', name='quoteB', required)
    .control-group
      label.control-label(for='inputQuoteX') Quote X
      .controls
        input#inputQuoteX(type='number', placeholder='1.0', ng-model='form.quoteX', name='quoteX', required)
    .control-group
      label.control-label(for='inputEndTime') Endet in
      .controls
        select#inputEndTime(ng-model='form.endTime', name='endTime', required)
          option(value="")
            | please select
          option(value="5")
            | 5 minutes
          option(value="10")
            | 10 minutes
          option(value="20")
            | 20 minutes

  .clearfix
  button.btn.btn-primary.btn-large(type='submit') Neues Spiel hinzufügen
  .clearfix
