.page-header
  h1 
    | Games 
    small 
     | Overview
     a.btn.btn-primary.pull-right(href='addGame') Want to add a Game?

.span12
  p There are currently {{games.length}} Games in progress! Start betting now!
  .thumbnails
    .span4(ng-repeat='game in games')
      .thumbnail
        div
          h4 {{game.title}}
          p {{game.description}}
        div.bet
          - if(user)
            form.pagination-centered(ng-submit="submitBet({{game.id}})")

              label.radio.inline
                input(type="radio", name="tip", id="quoteA", value="quoteA", ng-model='form.tip')
                | A: {{game.quoteA}}
              label.radio.inline
                input(type="radio", name="tip", id="quoteX", value="quoteX", checked, ng-model='form.tip')
                | X: {{game.quoteX}}
              label.radio.inline
                input(type="radio", name="tip", id="quoteB", value="quoteB", ng-model='form.tip')
                | B: {{game.quoteB}}

              .input-prepend.input-append
                span.add-on Amount
                input.span2#inputTitle(type='number', placeholder='10', ng-model='form.amount', name='amount', required)
                span.add-on BTC

              button.btn.btn-primary.pull-right(type='submit') bet
              .clearfix
          - else
            .pagination-centered
              p login to bet
            