!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title #{brand}
    link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#').brand #{brand}
          ul.nav(ng-controller='AppCtrl')
            li(ng-class="{active: $route.current.activetab == 'home'}")
              a(href='home') Home
            li(ng-class="{active: $route.current.activetab == 'games'}")
              a(href='games') Games    
            li(ng-class="{active: $route.current.activetab == 'about'}")
              a(href='about') About
          ul.nav.pull-right  
            - if(!user)
                li
                  a(href='auth/facebook', target='_self') login
            - else
                li.dropdown.loggedin-user
                  a.dropdown-toggle(href='#')
                    img(src='https://graph.facebook.com/#{user.fbId}/picture')
                    span
                      = user.name
                    b.caret
                  ul.dropdown-menu
                    li 
                      a(href='logout', target='_self') 
                        i.icon-off
                        = ' logout'

    div.container(ng-view)
      block body

    div.container
      hr

    script(src='js/lib/angular.min.js')
    script(src='js/lib/jquery.min.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='js/lib/bootstrap-datetimepicker.min.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')

