body {
  margin-top: 60px;
  word-wrap: break-word;
}

.loggedin-user img {
	width: 30px;
	height: 30px;
	margin: -10px 0px;
}
.loggedin-user span {
	margin: 0px 5px;
}

.thumbnail {
  height: 270px;
  margin-bottom: 20px;
}

.thumbnail p {
  overflow-y: auto;
  height: 150px;
}

.thumbnail .bet {
  background: #eee;
  margin: -5px -4px 0 -4px;
  height: 63px;
}
.thumbnail .bet label {
  width: 50px;
}
.thumbnail .bet p {
  line-height: 65px;
}
.thumbnail h4 {
  background: #eee;
  padding: 10px;
  margin: -5px -4px 0 -4px;
  min-height: 41px;
}

.thumbnail:hover {
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}